<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.nav.dao.MemberDao">
 
 	<insert id="insert" parameterType="MemberVO">
 		INSERT INTO tbl_member (
			 		M_SEQ,
			 		M_EMAIL,
			 		M_TEL,
			 		M_ID,
			 		m_PW
					
	 	) VALUES (
				 	SEQ_ORDER.NEXTVAL,
				 	#{m_seq},
				 	#{m_email},
				 	#{m_tel},
				 	#{m_id},
				 	#{m_pw}
	 	)
 	</insert>
 	
 	<update id="update" parameterType="MemberVO">
 		UPDATE tbl_member
 		SET(
 			 		M_EMAIL,
			 		M_TEL,
			 		M_ID,
			 		M_PW
 		) =
 		(			#{m_email},
 					#{m_tel},
 					#{m_id},
 					#{m_pw}
 		)
 	</update>
 	
 	<delete id="delete">
 		DELETE FROM tbl_member WHERE M_SEQ = #{m_seq}
 	</delete>
 
 </mapper>