@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: rgb(231, 213, 167);
}

header {
	display: flex;
	flex-flow: column;
	background-image: url("../images/map.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	justify-content: center;
	align-items: center;
	height: 15%;
	text-align: center;
	color: darkblue;
	padding: 1.5rem;
}